* {
  font-size: 12px;
  color: #333;
  box-sizing: border-box;

  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}


body {
  position: relative;
  font-family: sans-serif;
  text-align: center;
}

button > a {
  text-decoration: inherit;
  color: inherit;
}

.gm-style-iw {
  text-align: left;
}

.no-animation * {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}

.no-transition * {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home-search-area {
  display: inline-block;
  max-width: 720px;
  width: calc(100% - 360px);
  height: 42px; 
  margin: 6px;

    @media only screen and (max-width: 520px) {
      width: calc(100% - 60px);
    }
}

.home-search-button {
  width: 48px;
  height: 42px;
  margin: 6px 6px 6px -6px;
  padding: 0;
  line-height: 44px;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
  background: #f3f3f3;

  &:hover {
    background: #e3e3e3;
  }

  & * {
    vertical-align: middle;
  }
}

.hide {
  visibility: hidden;
}