* {
  font-size: 12px;
  color: #333;
  box-sizing: border-box;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease; }

body {
  position: relative;
  font-family: sans-serif;
  text-align: center; }

button > a {
  text-decoration: inherit;
  color: inherit; }

.gm-style-iw {
  text-align: left; }

.no-animation * {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none; }

.no-transition * {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none; }

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.home-search-area {
  display: inline-block;
  max-width: 720px;
  width: calc(100% - 360px);
  height: 42px;
  margin: 6px; }
  @media only screen and (max-width: 520px) {
    .home-search-area {
      width: calc(100% - 60px); } }

.home-search-button {
  width: 48px;
  height: 42px;
  margin: 6px 6px 6px -6px;
  padding: 0;
  line-height: 44px;
  vertical-align: top;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 0;
  background: #f3f3f3; }
  .home-search-button:hover {
    background: #e3e3e3; }
  .home-search-button * {
    vertical-align: middle; }

.form {
  width: 80vw;
  min-width: 376px;
  max-width: 424px;
  margin: auto; }
  .form-field {
    position: relative;
    width: 100%;
    padding: 24px; }
    .form-field:first-of-type {
      border-top: 1px solid #ddd; }
    .form-field:last-of-type {
      border-bottom: 1px solid #ddd; }
    .form-field label {
      display: inline-block;
      width: 144px;
      margin-left: -144px;
      margin-right: 6px;
      color: #333;
      font-weight: 700;
      text-align: right; }
    .form-field input {
      width: 192px;
      height: 24px;
      border: 1px solid #ccc;
      padding: 4px 6px; }
    .form-field textarea {
      width: 192px;
      height: 96px;
      border: 1px solid #ccc;
      padding: 4px 6px;
      resize: none; }
    .form-field select {
      background: white;
      padding: 6px 12px; }

.input, .input-fill, .input-sm, .input-md, .input-lg {
  background: white;
  color: #333;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .input::placeholder, .input-fill::placeholder, .input-sm::placeholder, .input-md::placeholder, .input-lg::placeholder {
    color: #bbb;
    font-weight: 500; }
  .input-fill {
    width: 100%;
    height: 100%; }
  .input-sm {
    height: 24px; }
  .input-md {
    height: 36px; }
  .input-lg {
    height: 48px; }

.btn, .btn-xs, .btn-sm, .btn-md, .btn-lg {
  padding: 0 12px;
  color: white;
  border: 0;
  border-radius: 6px;
  font-weight: 700; }
  .btn-xs {
    height: 16px; }
  .btn-sm {
    height: 24px; }
  .btn-md {
    height: 32px; }
  .btn-lg {
    height: 40px; }
  .btn:active, .btn-xs:active, .btn-sm:active, .btn-md:active, .btn-lg:active {
    color: #333; }
  .btn:hover, .btn-xs:hover, .btn-sm:hover, .btn-md:hover, .btn-lg:hover {
    cursor: pointer; }
  .btn-pink {
    background-color: #EC407A; }
    .btn-pink:hover {
      background-color: #F48FB1; }
  .btn-blue {
    background-color: #1E88E5; }
    .btn-blue:hover {
      background-color: #42A5F5; }
  .btn-red {
    background-color: #cc0000; }
    .btn-red:hover {
      background-color: #ff4d4d; }
  .btn-darkblue {
    background-color: #303F9F; }
    .btn-darkblue:hover {
      background-color: #5C6BC0; }
  .btn-green {
    background-color: #4CAF50; }
    .btn-green:hover {
      background-color: #81C784; }
  .btn-transparent {
    color: #455A64;
    background-color: transparent; }
    .btn-transparent:hover {
      background-color: #eee; }
    .btn-transparent:active {
      color: #aaa; }
  .btn-grey {
    color: #555;
    background-color: #eee; }
    .btn-grey:hover {
      background-color: #bbb; }
    .btn-grey:active {
      color: white; }

.clickable:hover {
  text-decoration: underline;
  cursor: pointer; }

@keyframes fade-in {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }

@keyframes scale-out {
  from {
    transform: translate(-50%, -50%) scale(0, 0); }
  to {
    transform: translate(-50%, -50%) scale(1, 1); } }

.fade-in {
  -webkit-animation: fade-in .66s ease;
  -moz-animation: fade-in .66s ease;
  -o-animation: fade-in .66s ease;
  animation: fade-in .66s ease; }

.scale-out {
  -webkit-animation: scale-out .15s ease;
  -moz-animation: scale-out .15s ease;
  -o-animation: scale-out .15s ease;
  animation: scale-out .15s ease; }

.material-icons {
  display: inline-block;
  margin: 0;
  height: 100%;
  line-height: 100%;
  color: #90A4AE;
  font-size: 36px; }

.font-xs {
  font-size: 10px; }

.font-sm {
  font-size: 12px; }

.font-md {
  font-size: 14px; }

.font-lg {
  font-size: 18px; }

.font-xl {
  font-size: 24px; }

.font-dxl {
  font-size: 36px; }

.font-txl {
  font-size: 72px; }

.font-qxl {
  font-size: 108px; }

.font-bold {
  font-weight: bold; }

.font-normal {
  font-weight: normal; }

.font-light {
  font-weight: lighter; }

.font-darkpink {
  color: #AD1457; }

.font-blue {
  color: #1E88E5; }

.font-darkblue {
  color: #0D47A1; }

.font-grey {
  color: #666; }

.font-lightgrey {
  color: #ccc; }

.font-green {
  color: #66BB6A; }

.font-red {
  color: #EF5350; }

.centered-hv {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.centered-hor {
  z-index: 999;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%); }

.centered-ver {
  z-index: 999;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%); }

.block, .block-inline {
  display: block;
  position: relative;
  width: 100%;
  height: auto; }
  .block-inline {
    display: inline-block;
    vertical-align: top; }

.flex, .flex-row, .flex-col {
  display: flex; }
  .flex-row {
    flex-direction: row; }
  .flex-col {
    flex-direction: column; }
  .flex-item {
    flex: 0 1 auto; }
  .flex-item-fill {
    flex-grow: 1 1 auto; }

.line-h {
  display: block;
  width: 100%;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0; }
  .line-h-thick {
    border-top: 3px solid #777; }

.line-v {
  display: inline-block;
  width: 0;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  vertical-align: top; }

.fit {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto; }

.fill {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

.scrollable {
  overflow-y: auto;
  overflow-x: hidden; }

.padding-0 {
  padding: 0; }

.padding-xs {
  padding: 3px 6px; }

.padding-sm {
  padding: 6px 12px; }

.padding-md {
  padding: 9px 18px; }

.padding-lg {
  padding: 12px 24px; }

.margin-0 {
  margin: 0; }

.margin-xs {
  margin: 3px; }

.margin-sm {
  margin: 6px; }

.margin-md {
  margin: 9px; }

.margin-lg {
  margin: 12px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

.align-middle {
  vertical-align: middle; }

.align-top {
  vertical-align: top; }

.align-bottom {
  vertical-align: bottom; }

.bg-white {
  background-color: white; }

.bg-grey {
  background-color: #f3f3f3; }

.bg-lightblue {
  background-color: #BBDEFB; }

.edge-rounded {
  border-radius: 12px; }

.edge-straight {
  border-radius: 0; }

.box-shadow {
  box-shadow: 3px 3px 2px 0px #ddd; }

.size-sm {
  height: 30px; }

.size-md {
  height: 60px; }
