* {
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
  -webkit-animation: fade-in .33s ease;
  -moz-animation: fade-in .33s ease;
  -o-animation: fade-in .33s ease;
  animation: fade-in .33s ease;
}

#map * {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}

body {
  position: relative;
  font-family: sans-serif;
  text-align: center;
}

.gm-style-iw {
  text-align: left;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}