* {
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

body {
  position: relative;
  font-family: sans-serif;
  text-align: center;
}

.gm-style-iw {
  text-align: left;
}